.f-message {
    padding: 10px 20px;
    border: 1px solid #ccc;
    position: fixed;
    left: 50%;
    max-width: 350px;
    min-width: 250px;
    box-sizing: border-box;
    transform: translateX(-50%);
    transition: all .5s ease;
    opacity: .3;
    border-radius: @border-radius;
    .f-shadow;
    z-index: 10000;
}