@import "../../styles/config.less";

.f-tab {
    display: flex;
    flex-direction: column;
    // border: 1px solid #ccc;
    width: 100%;

    .f-tab-header {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid @bordercolor;

        position: relative;
        overflow: hidden;

        .f-tab-header-more {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            width: 30px;
            height: 40px;
            background: #ccc;
            cursor: pointer;
            text-align: center;
            line-height: 40px;

            .f-icon {
                transform: rotate(90deg);
                transition: transform .3s linear;
            }
        }

        ul {
            display: flex;
            flex-direction: row;
            margin: 0;
            padding: 0;
            width: 100%;
            overflow: hidden;

            li {
                height: 40px;
                font-size: 14px;
                line-height: 40px;
                padding-left: @p;
                padding-right: @p;
                border-right: 1px solid @bordercolor;
                cursor: pointer;
                box-sizing: border-box;
            }
        }

        .active {
            height: 41px;
            background: #fff;
        }
    }



    .f-tab-content {
        min-height: 150px;
    }
}

.f-tab-item {
    padding: @p;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
}