.f-card {
    display: flex;
    flex-direction: column;
    border-radius: @border-radius;
    border: .5px solid @bordercolor;
    .f-shadow-small;

    .f-card-header {
        padding-left: 15px;
        border-bottom: 1px solid @bordercolor;
        display: flex;
        flex-direction: row;
        background-color: rgba(0, 0, 0, .03);
    }

    .f-card-body {
        padding: 15px;
        box-sizing: border-box;
    }

    .f-card-footer {
        padding-left: 15px;
        border-top: 1px solid @bordercolor;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        background-color: rgba(0, 0, 0, .03);
    }
}