.f-slider-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;

    .f-slider-label {
        min-width: 150px;
        padding-left: 10px;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    border-radius: 50%;
}

.f-slider-h {
    flex-direction: column !important;
}

.f-slider {
    width: 100%;
    padding: 10px 0;
    box-sizing: border-box;
    display: block;
    position: relative;
    cursor: pointer;
    @slider-h: 6px;

    .f-slider-bg {
        height: @slider-h;
        display: block;
        background: @bordercolor;
        border-radius: 10px;
    }

    .f-slider-bar {
        position: absolute;
        top: 10px;
        left: 0px;
        height: @slider-h;
        background: @theme;
        border-radius: 10px;
    }

    .f-slider-tag {
        position: absolute;
        top: 2px;
        bottom: 0;
        width: 20px;
        height: 20px;
        background: @white;
        border: 2px solid @theme;
        box-sizing: border-box;
        border-radius: 20px;
        transform: scale(1);
        transition: transform .3s ease;
        z-index: 20;

        &:hover {
            transform: scale(1.1);
            transition: transform .3s ease;
        }

    }

    .f-slider-tag-select {
        // cursor: grabbing;
        border: 2px solid @theme;
        transform: scale(1.1);
    }

    .f-slider-step {
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        top: 10px;
        height: 8px;
        display: flex;
        flex-direction: row;

        .f-slider-stepcontainer {
            width: 100%;
            height: 100%;
            position: relative;

            .f-slider-stepitem {
                height: 6px;
                box-sizing: border-box;
                position: absolute;

                .f-slider-steppoint {
                    position: absolute;
                    top: 0;
                    right: -3px;
                    width: 6px;
                    height: 6px;
                    content: ' ';
                    border: 1px solid @theme;
                    box-sizing: border-box;
                    background: @white;
                    border-radius: 50%;
                }

                .f-slider-steplabel {
                    position: relative;
                    width: 100%;
                    padding-top: 8px;

                    span {
                        position: absolute;
                        right: 0;
                        font-size: 14px;

                    }
                }


            }
        }
    }
}